name: Super-Linter
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint-code-base:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run Super-Linter
        uses: super-linter/super-linter@v6.0.0
        env:
          VALIDATE_ALL_CODEBASE: true
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          DEFAULT_BRANCH: main
          IGNORE_GITIGNORED_FILES: true
